*{
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
:focus{
	outline: none!important;
	box-shadow: none!important;
}
section .container,header .container,footer .container{
	max-width: 985px!important;
}
#get-started-section .container.main{
	max-width: 100%!important;
}

.bg-light {
    background-color: #fff!important;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: rgba(0,0,0,.1);
    position: absolute;
    right: 0;
    top: -45px;
    padding: 2px 8px;
}
/*
======================
 Header css
=======================
*/
header#header-section {
    padding: 10px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
}
.logo-section img{
	width: 110px;
}
.nav-section ul {
    margin: 0;
}
.nav-section ul li {
    display: inline-block;
    padding: 10px 20px;
}

.nav-section ul li a.active,.nav-section ul li a:hover{
    color: #daad1e!important;
    transition: 0.3s;
}
.nav-section ul li:last-child a {
    background: #daad1e;
    padding: 10px 20px;
    color: #fff!important;
    text-transform: uppercase;
    transition: 0.3s;
    display: inline-block!important;
}
.nav-section ul li:last-child a:hover{
    background: #8c752e;
}
.nav-section ul li a {
    font-weight: bold;
    color: #020202;
}


/*
=======================
Header css end
========================
*/



/*
=======================
Banner css start
========================
*/
section#banner-section {
    position: relative;
    margin-top: 40px;
}
#banner-section img{
	width: 100%;
}
.banner-text {
    text-align: center;
    position: absolute;
    top: 55%;
    transform: translate(-50%,-40%);
    color: #fff;
    width: 80%;
    left: 50%;
}
.banner-text p {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0px;
}
.banner-text h1 {
    font-size: 95px;
}
.banner-text h1 span {
    color: #daad1e;
}
.banner-text a {
    display: inline-block;
    padding: 10px 20px;
    background: #daad1e;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    margin-top: 30px;
    transition: 0.3s;
    border-radius: 5px;
}
.banner-text a:hover {
    background: #9a7b16;
    box-shadow: 0px 10px 10px 2px #231e1e;
}
/*
=======================
Banner css end
========================
*/




/*
=======================
Credit css start
========================
*/
section#credit-section {
    padding: 50px 0px;
    padding-top: 70px;
}
.credit-left img {
    border-radius: 40% 40% 45% 30%;
}
.credit-right h2 {
    font-weight: 700;
    color: #383535;
    margin-bottom: 15px;
    padding-bottom: 17px;
    position: relative;
}
.credit-right h2:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 8px;
    background: #daad1e;
}
.credit-right p {
    font-weight: 400;
    font-size: 17px;
    color: #5a5656;
    text-shadow: 0.6px 0.4px black;
}
.credit-right ul li{
	list-style: inherit;
	font-weight: 400;
	text-shadow: 0.7px 0.4px black;
	color: #5a5656;
}

/*
=======================
Credit css end
========================
*/



/*
=======================
ifrane section css start
========================
*/
section#score-section {
    background: #F2F2F2;
    padding: 40px 0px;
}
.score-content {
    text-align: center;
}
.score-content h2 {
    font-size: 37px;
    text-transform: uppercase;
    color: #423e3e;
    margin-bottom: 20px;
}
iframe {
    border: 5px solid #E5E5E5;
    padding: 10px;
    padding: 7px;
    background: #fff;
}
/*
=======================
iframe section css end
========================
*/



/*
=======================
Help section css start
========================
*/
section#help-section {
    padding: 50px 0px;
    background: #E2E2E2;
}
#help-section h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 900;
    color: #333131;
    margin-bottom: 45px;
}
.credit-sweap img{
	width: 100%;
}
.credit-sweap-text {
    background: #fff;
    padding: 25px 45px;
    text-align: center;
}
.credit-sweap-text p {
    color: #565252;
    margin-bottom: 13px;
}
a.sweap-head {
    display: inline-block;
    color: #565252;
    font-size: 26px;
    margin-bottom: 13px;
    font-weight: 500;
}
a.read-more{
    text-decoration: revert;
    color: #3e3e40;
    display: block;
    margin-bottom: 30px;
}
a.book-now {
    background: #daad1e;
    padding: 10px 35px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;
    display: inline-block;
    transition: 0.3s;
    border-radius: 3px;
}

a.book-now:hover {
    background: #9a7b16;
    box-shadow: 0px 8px 10px 0px #544d4d;
}
/*
=======================
Help section css end
========================
*/



/*
=======================
Contact section css start
========================
*/
section#contact-section {
    padding: 25px 0px;
    padding-bottom: 90px;
    text-align: center;
}
section#contact-section h2 {
    font-size: 40px;
    color: #333131;
}
/*
=======================
Contact section css end
========================
*/




/* ============================= ////////Service page////////////////Result page//////// start ========================== */


section#banner-2-section {
    margin-top: 100px;
}
.banner-2-section img {
    width: 100%;
}
section#credit-sweap-section {
    margin-top: 25px;
    padding-bottom: 50px;
}
.sweap-left img{
	width: 100%;
	height: 400px;
}
.credit-sweap-text.text-1 {
    background: #fff;
    padding: 45px 45px;
    text-align: center;
    position: relative;
    left: -20%;
    top: 37px;
    border: 1px solid #bdb7b7;
    width: 120%;
}
.credit-sweap-text.text-1.text-2 {
    top: 60px;
}
section#contact-section-end {
    padding: 60px 0px;
    border-top: 1px solid #9c9999;
}

.contact-left p {
    font-family: inherit;
    color: #444040;
}
.contact-left h2 {
    color: #3a3939;
    font-size: 35px;
    margin-bottom: 0;
}
.contact-right a {
    display: inline-block;
    padding: 10px 60px;
    background: #3b5bba;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    transition: 0.3s;
    font-weight: 500;
    border: 1px solid #3b5bba;
}
.contact-right a:hover {
    background: transparent;
    color: #3b5bba;
}

section#client-section {
    margin-top: 100px;
    padding: 10px 0px;
}
.client-section-text h2 {
    font-size: 90px;
    text-align: center;
    margin-bottom: 50px;
    color: #383737;
    font-weight: 700;
}

section#get-started-section {
    margin-top: 100px;
}
.get-left {
    background: url(../img/get-img.webp) no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 900px;
    background-position-x: right;
}
#get-started-section h2 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    margin: 40px 0px;
    font-weight: 700;
    color: #3a3838;
}
.get-right p {
    margin-top: 70px;
    color: #8a8787;
    font-size: 15px;
    padding: 0px 15px;
}
.get-right h3 {
    margin-bottom: 50px;
    padding: 0px 15px;
    font-size: 23px;
}
.get-right-text p {
    margin-top: 0;
    padding-left: 115px;
    color: #8a8787;
}
.get-right-text p span {
    margin-bottom: 10px;
    font-size: 23px;
    color: #000;
    display: inline-block;
}
.get-right-text {
    position: relative;
}

.get-right-text span.step {
    position: absolute;
    top: 0px;
    font-size: 40px;
    color: #daad1e;
    display: inline-block;
    left: 15px;
}

#get-started-section h2.last-h2 {
    font-size: 24px;
    color: #292727;
}


.create-profile {
    text-align: center;
    padding-bottom: 50px;
    margin-top: 100px;
}
.create-profile a {
    display: inline-block;
    padding: 15px 100px;
    background: #3758b8;
    color: #fff;
    font-size: 24px;
    border-radius: 5px;
    border: 1px solid #3758b8;
    transition: 0.3s;
    font-weight: 600;
    text-transform: uppercase;
}
.create-profile a:hover{
	color: #3758b8;
	background: transparent;
}
/* ============================= ////////Service page////////////////Result page//////// end ========================== */




/*
=======================
Footer section css start
========================
*/
footer#footer-section {
    background: #e2e2e2;
    padding: 40px 0px;
    border-top: 1px solid #8c8a8a;
}
.footer-left p {
    font-size: 15px;
}
.footer-right ul,.footer-left p{
	margin-bottom: 0;
}
.footer-right ul{
	padding: 0;
    text-align: right;
}

.footer-right ul li{
	display: inline-block;
	border-right: 1px solid #333131;
	padding-right: 5px;
}
.footer-right ul li:last-child{
	border-right: none;
	padding-right: 0;
}
.footer-right ul li a {
    color: #333131;
    text-decoration: revert;
}
.social-section {
    text-align: center;
}
.social-section i{
    background: #424040;
    padding: 10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: 0.3s;
}
.social-section i.fa-facebook-f:hover{
    background: #4064AC;
}
.social-section i.fa-instagram:hover{
    background: #D62977;
}
/*
=======================
footer section css end
========================
*/